
body {
    color: white;
    background-color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2rem;
    text-align: center;
  }
  
  h1, h2 {
    color: #ffffff;
  }
  

  ul {
    padding-left: 1rem;
    list-style-type: disc;
  }
  