@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.footer {
    background-color: #f5fafa;
    padding: 50px 9%;
    font-family:'Inter', sans-serif;
    font-size: 14px;
    z-index: 1;
    overflow: visible;
    position: relative;
    height: 593px;
    
  }
   
  .footer-top {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 140px;
    padding-top: 60px;
    margin-bottom: 30px;
    gap: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
  }

  .footer-pattern {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: visible;
    pointer-events: none;
    left: 0;
    display: flex;
    justify-content: center;

  }
  
  .blob-image {
    position: absolute;
    top: 278px;
    width: 1300px;
    height: auto;
    filter: #E5F1F3;
    transform: translate(-220px, -150px);
  }  

  .footer-logo {
    margin-right: 0px;
    width: 36px;
    height: 46px;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .footer-col p {
    padding-top: 30px;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
  }

  .footer-cols {
    display: flex;
    gap: 80px; 
    flex-wrap: wrap;
  }

  .footer-col {
    font-family: 'Inter', sans-serif;
    z-index: 1;
    text-align: left;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  
  .footer-col h4 {
    height: 20px;
    padding-bottom: 25px;
    font-weight: 600;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #2d2d2d;
    letter-spacing: 1.5px;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-col ul li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0;
    cursor: pointer;
    margin-bottom: 25px;
    color: #546285;
  }
  
  .footer-col ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .footer-bottom {
    font-family: 'Inter' sans-serif;
    display: flex;
    line-height: 20px;
    font-weight: 400;
    align-items: center;
    font-size: 12px;
    color: #353448;
    margin-top: 40px;
    gap: auto;
  }
  
  .footer-bottom-left p {
    margin: 0;
    text-align: left;
  }

  .footer-bottom a {
    color: #35B8BE;
    text-decoration: none;
  }
  
  .footer-bottom a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    gap: 16px;
    justify-content: end;
    margin-left: auto;
    cursor: pointer;
    font-size: 18px;
  }
  